.portfolio-menu{
	text-allign:center;

}
.portfolio-menu ul li {
	display: inline-block;
	margin: 1px;
	list-style: none;
	padding: 10px 15px;
	border: 1px solid #7474C1;
	cursor: pointer; 
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
	

}
.portfolio-menu ul li:hover{
	background:#7474C1 ;
	color:#ffffff;

}
.portfolio-item{
	width: 100%;


}
.portfolio-item .item{
	width: 300px;
	float: left;
	margin: 10px;

}